@import './css/Globals.css';
@import './css/Header.css';
@import './css/MovieCard.css';
@import './css/MovieModal.css';
@import './css/FilterTabs.css';
@import './css/AdminDashboard.css';
@import './css/UserDropdown.css';